.title {
  font-size: 32px;
  text-align: center;
  margin: 20px;
}

.fruitContainer {  
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  align-items: center;
  justify-items: center;
  justify-self: center;
  
}

a {
  text-decoration: none;
  color: #111;
  transition: all 0.2s ease-in-out;
}

a:hover{
  color: rgb(136, 122, 44);
  transition: all 0.2s ease-in-out;
}

@media(max-width: 1350px) {
  .fruitContainer {  
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    }
  }

@media(max-width: 1280px) {
  .fruitContainer {  
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    }
  }

@media(max-width: 1000px) {
.fruitContainer {  
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  }
}

@media(max-width: 768px) {
  .fruitContainer {  
    grid-template-columns: 1fr;
    gap: 16px;
    }
  }