.title {
  font-size: 32px;
  text-align: center;
  padding: 20px;
 
}

.fruitContainer {  
  max-width: 1380px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  align-items: center;
  justify-items: center;
  justify-self: center;
  gap: 16px;
  
}

a.link-home {
  text-decoration: none;  
  color: #111;
  transition: all 0.2s ease-in-out;
}

a.link-home:hover{
  color: rgb(136, 122, 44);
  transition: all 0.2s ease-in-out;
}

@media(max-width: 1000px) {
.fruitContainer { 
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  }
}

@media(max-width: 768px) {
  .fruitContainer {  
    grid-template-columns: 1fr;
    gap: 16px;
    }
  }